name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: 386
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
          - os: ubuntu-latest
            goos: linux
            goarch: arm
          - os: ubuntu-latest
            goos: linux
            goarch: arm64
          - os: ubuntu-latest
            goos: linux
            goarch: mips
          - os: ubuntu-latest
            goos: linux
            goarch: mipsle
          - os: ubuntu-latest
            goos: linux
            goarch: mips64
          - os: ubuntu-latest
            goos: linux
            goarch: mips64le
          - os: ubuntu-latest
            goos: linux
            goarch: ppc64
          - os: ubuntu-latest
            goos: linux
            goarch: ppc64le
          - os: ubuntu-latest
            goos: linux
            goarch: riscv64
          - os: ubuntu-latest
            goos: linux
            goarch: s390x
          - os: ubuntu-latest
            goos: linux
            goarch: loong64
          - os: macos-latest
            goos: darwin
            goarch: amd64
          - os: macos-latest
            goos: darwin
            goarch: arm64
          - os: windows-latest
            goos: windows
            goarch: 386
          - os: windows-latest
            goos: windows
            goarch: amd64
          - os: windows-latest
            goos: windows
            goarch: arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}

      - name: Run tests
        run: go test -v ./...
